<!DOCTYPE HTML>
<html>
  <head>
    <title>Bus and train</title>
  </head>
  <body>
      <h1> Bus_Train</h1>

      <ul>
        <li>
          <a href = "/"> Home</a>
        </li>
      </ul>



  </body>

</html
