<!DOCTYPE HTML>
<html>
  <head>
    <title>Home  </title>
    <LINK href="index_button.css" rel="stylesheet" type="text/css">
    <script  src="jquery.js"></script>


  </head>
  <body>
    <script>
    x = navigator.geolocation;

    x.getCurrentPosition(success, failure);

    function success(position) {
      var mylat = position.coords.latitude;
      var mylong = position.coords.longitude;
      $('#long').text(mylong);
      $('#lat').text(mylat);
    }

    function failure(){
      alert('doesnt work, please use a browser that supports geolocation');
    }
    </script>

    <script>
    function postToBus(){
      $.post('/bus', {long: $('#long').text(), lat: $('#lat').text()}, function(displayData) {
        $(".display").html(displayData);
      });
    };
    </script>




      <h1> Index </h1>

      <ul>
        <li>
          <a href = "/"> Home</a>
        </li>
      </ul>

  <div class="display" >

  </div>


    <div id="container">
      <a onclick="postToBus();" id="linkToBus" class="button">Bus</a>
      <a  class="button">Train</a>
    </div>

  <h3>will show up here</h3>
  <h4 id='long'>long</h4>
  <h4 id='lat'>lat</h4>




  </body>

</html
